@mixin app-body {
  background: url('/images/bg_tile.png');
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
.bg {
  @include app-body();
  background-color: $brand-base-light-a;
}

.bg--colored {
  @include app-body();
  background-color: $brand-base-light-b;
}

.gradient {
  background: linear-gradient(0, rgba(255, 255, 255, 0) , rgba(255, 255, 255, 1));
  position: absolute;
  height: 187px;
  top: 0;
  width: 100%;
}
