.FormContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: $global-padding-small;
  width: 670px;
}
.form-header {
  align-items: center;
  background: $brand-primary-grey;
  box-sizing: border-box;
  display: flex;
  min-height: 80px;
  justify-content: center;
  padding:  $global-padding-tiny;
  top: 0;
  width: 100%;
  p {
    color: $light-paper;
    font-size: 18px;
    font-weight: 600;
    height: fit-content;
    line-height: 24px;
    margin: 0;
    max-width: 335px;
    text-align: center;
  }
}

.Formdata {
  padding:  $global-padding-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 562px;
}

.Formdata>:first-child {
  margin-top:0; 
}
