@media all and (min-width:220px) and(max-width:479px){
  
  .FormContainer {
    width: 290px;
  }
  .Advertorial {
    width: 290px;
    .content {
      margin: 12px;
    }
  }
  .Formdata {
    width: 244px;
  }
  .form-header { 
    padding: 1.42rem;
  }
  .button,
  .button--disabled {
    width:100%;
  }
  .Layout {
    margin-top: 90px;
  }
  .state {
    width: 79px;
    margin-left: 10px;
  }
  .city {
    width:154px;
  }
  .Advertorial:before,
  .Advertorial:after {
    width: 40px;
  }
}
@media all and (min-width:480px) and(max-width:639px){
  .FormContainer {
    width: 90%;
  }
  .Formdata {
    width: 360px;
  }
  .button,
  .button--disabled {
    width:100%;
  }
  .Layout {
    margin-top: 90px;
  }
  .state {
    width: 146;
  }
  .city {
    width: 231px;
  }
}
@media all and (min-width:640px)and(max-width:799px){
	.FormContainer{
    width: 90%;
  }
  .Formdata {
    width: 480px;
  }
  .button,
  .button--disabled {
    width:100%;
  }
  .Layout {
    margin-top: 90px;
  }
 .state {
    width: 206px;
  }
  .city {
    width: 264px;
  }
}

@media all and (min-width:800px)and(max-width:1024px){
	
}
@media all and (min-width:1025px)and(max-width:1280px){
	

}
@media all and (min-width:1280px)and(max-width:1980px){

}
